<app-header
  style="position: fixed; top: 0; z-index: 10; width: 100%"
></app-header>
<!-- (onSelect)="onRecipeOrShopping($event)" --this was in th app-header before -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- <h1>This is the main component of the app</h1> -->
      <!-- <app-recipes *ngIf="onMenuClicked === 'recipe'"></app-recipes>
      <app-shopping-list
        *ngIf="onMenuClicked === 'shopping'"
      ></app-shopping-list> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
