<div class="row">
  <div class="col-xs-12">
    <h1 class="text-center mb-3">Edit Your Order</h1>
    <form (ngSubmit)="onAddOrEditIngredient(form)" #form="ngForm">
      <div class="row mb-1">
        <div class="col-sm-5">
          <label class="form-label">Ingredient</label>
          <input
            type="text"
            name="ingredient"
            class="form-control"
            placeholder="ingredient"
            aria-label="ingredient"
            required
            ngModel
          />
        </div>
        <div class="col-sm-2">
          <label class="form-label">Amount</label>
          <input
            type="number"
            name="amount"
            class="form-control"
            placeholder="amount"
            aria-label="amount"
            required
            ngModel
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success mt-2"
            [disabled]="!form.valid"
          >
            {{ editMode ? "UPDATE" : "ADD" }}
          </button>
          <button type="button" class="btn btn-danger mt-2">DELETE</button>
          <button type="button" class="btn btn-primary mt-2">CLEAR</button>
        </div>
      </div>
    </form>
  </div>
</div>
